# KV Data Cleanup

## Starting up

In [3]:
%pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\markovca\appdata\local\anaconda3\lib\site-packages (3.8.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\markovca\appdata\local\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\markovca\appdata\local\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\markovca\appdata\local\anaconda3\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\markovca\appdata\local\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.21 in c:\users\markovca\appdata\local\anaconda3\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\markovca\appdata\local\anaconda3\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\markovca\appdata\local\anaconda3\lib\site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\markovca\appdata\local\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\markovca\appdata\local\anaconda3\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\markovca\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [5]:
data = pd.read_csv("kv-rent-data-16-11-2024.csv")

In [6]:
# underscores are easier to work with than hyphens.
data.columns = data.columns.str.replace('-', '_')
# As we can see, the situation is pretty bad by default.
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2676 entries, 0 to 2675
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   web_scraper_order      2676 non-null   object
 1   web_scraper_start_url  2676 non-null   object
 2   listing_link           2676 non-null   object
 3   listing_link_href      2676 non-null   object
 4   address                2676 non-null   object
 5   price                  2676 non-null   object
 6   rooms                  2667 non-null   float64
 7   area                   2670 non-null   object
 8   floor_out_of_floors    2494 non-null   object
 9   build_year             2081 non-null   float64
 10  condition              2456 non-null   object
 11  energy_mark            2311 non-null   object
 12  summary                2675 non-null   object
 13  description            2633 non-null   object
 14  bedrooms               1848 non-null   float64
 15  ownership_form         1923 non-null   object
 16  katastrinumber         1710 non-null   object
 17  description_header     2282 non-null   object
 18  description_footer     2676 non-null   object
 19  prepayment             637 non-null    object
 20  utility_costs          862 non-null    object
 21  owner_or_broker        2673 non-null   object
 22  registriosa_number     258 non-null    float64
 23  images_link            2674 non-null   object
 24  images_link_href       2674 non-null   object
dtypes: float64(4), object(21)
memory usage: 522.8+ KB

In [7]:
# Let's remove the Web Scraper columns.
# listing-link and address have the same info, but address has more bloat. 
# listing-link is easier to filter and split. let's remove address as well
# catastre, registry and ownership_form have either no correlation or are mostly NaN values
data = data.drop(['web_scraper_order', 'web_scraper_start_url', 'address', 'katastrinumber', 'registriosa_number', 'ownership_form'], axis=1)

## floor_out_of_floors deserves its own chapter - cell formatting is annoying

In [9]:
# floor_out_of_floors seems to have had a bit of a mishap. 
# they were automatically transformed to a date, but they were actually 1/5, 3/5, 1/2 etc.
# let's separate all the columns that are easily separable - price, floor_out_of_floors
# first, let's check the unique values.
data['floor_out_of_floors'].unique()
# most of them are pretty clear - Day-Month corresponds to FLOOR-TOTAL_FLOORS
# some, however aren't clear: -0.25, -0.333333333, -0.2. These need to be checked individually.

array(['01-Mar', '03-May', '04-Apr', '01-Feb', '03-Apr', '01-Apr',
       '02-Mar', '05-May', '01-May', '04-May', '03-Mar', nan, '02-May',
       '06-Jun', '03-Jun', '03-Jul', '04-Feb', '05-Jun', '02-Apr',
       '02-Feb', '07-Sep', '04-Jun', '04-Sep', '06-Aug', '09-Sep',
       '03-Aug', '04-Jul', '02-Jun', '08-Aug', '05-Jul', '01-Jun',
       '01-Aug', '08-Dec', 'Dec-14', '03-Sep', '06-Jul', '01-Jan',
       '08-Sep', '04-Aug', '13/30', 'May-14', '01-Sep', 'Apr-14',
       '05-Oct', '18/23', '06-Sep', '15/30', '07-Aug', '05-Aug', 'Aug-15',
       '05-Sep', '-0.25', '04-Oct', '02-Jan', '02-Jul', '10-Nov',
       '02-Sep', 'Jul-16', 'Jun-14', 'Oct-19', 'Jun-13', '09-Dec',
       'Feb-14', '10-Dec', '24/30', '15/16', 'Dec-13', '02-Aug', 'May-13',
       '07-Nov', '14/20', 'Sep-14', 'Oct-17', '07-Jul', '09-Oct',
       '03-Oct', '08-Oct', '03-Feb', '06-Dec', 'Jul-20', 'Nov-19',
       'Jul-19', 'Jul-14', '14/14', 'Apr-22', '09-Nov', 'Jun-16',
       'Dec-16', 'Apr-13', 'Dec-15', 'Aug-19', '04-Nov', '07-Oct',
       '-0.333333333', 'Nov-14', '14/16', '02-Dec', '10-Oct', 'Nov-13',
       '05-Dec', 'Mar-16', 'May-16', '17/17', '17/20', '02-Oct', '03-Dec',
       'Nov-15', '09-Apr', 'Oct-14', '01-Jul', '15/19', 'Jul-13',
       'Aug-16', 'Aug-18', '04-Dec', '03-Nov', '-0.2', 'Mar-14', 'Sep-23',
       '11-Dec', '01-Oct', 'Dec-23'], dtype=object)

In [10]:
#data[data['floor_out_of_floors'] == '-0.25'].iloc[0]['listing-link-href'] # -0.25 is actually a basement floor -1/4
#data[data['floor_out_of_floors'] == '-0.25'].iloc[1]['listing-link-href'] # -0.25 is actually a basement floor -1/4
# ^ those two listings are actually the same apartment listing two times, 
# the links really are different, though.
#data[data['floor_out_of_floors'] == '-0.333333333'].iloc[0]['listing-link-href'] # -0.333333333 is actually a basement floor -1/3
#data[data['floor_out_of_floors'] == '-0.2'].iloc[0]['listing-link-href'] # -0.2 is actually a basement floor -1/5

In [11]:
# The plan is the following (not the most optimal, but definitely won't break anything):
# map -0.25, -0.333333333, -0.2 to -1/4, -1/3, -1/5
# map [Jan, Feb, Mar,...] to [1,2,3,...] in each string
# somehow this needs to apply to substrings. 
# map - to / DANGER, map only once FROM RIGHT, otherwise negative floor numbers will be affected
# check all unique values
# if unique values are all good, then split from / and cast to int
## The following is created with help from Claude.ai.
def transform_floor_numbers(value):
    if pd.isna(value):
        return value
        
    # First handle the special basement cases
    basement_map = {
        '-0.25': '-1/4',
        '-0.333333333': '-1/3',
        '-0.2': '-1/5'
    }
    if str(value) in basement_map:
        return basement_map[str(value)]
    
    # Handle month name conversions
    month_map = {
        'Jan': '1', 'Feb': '2', 'Mar': '3', 'Apr': '4', 
        'May': '5', 'Jun': '6', 'Jul': '7', 'Aug': '8', 
        'Sep': '9', 'Oct': '10', 'Nov': '11', 'Dec': '12'
    }
    
    value = str(value)
    # Handle cases like "Dec-14"
    for month, num in month_map.items():
        if month in value:
            value = value.replace(month, num)
    
    # Handle cases where - needs to be converted to / (but only rightmost occurrence)
    if '-' in value and '/' not in value:
        parts = value.rsplit('-', 1)  # Split from right once
        value = parts[0] + '/' + parts[1]
        
    return value

# Apply the transformation
data['floor_out_of_floors'] = data['floor_out_of_floors'].apply(transform_floor_numbers)

In [12]:
data[['floor', 'total_floors']] = data['floor_out_of_floors'].str.split('/', expand=True)
data['floor'] = pd.to_numeric(data['floor'], errors='coerce')
data['total_floors'] = pd.to_numeric(data['total_floors'], errors='coerce')

## Elementary column transformations - extracting and cleaning up easy values

In [14]:
# price -> price, price_per_m2
data['price'] = data['price'].apply(lambda x: re.sub(r'\s', '', x))
data[['price', 'price_per_m2']] = data['price'].str.split('€', n=1, expand=True)
data['price'] = pd.to_numeric(data['price'].str.strip(), errors='coerce')
data['price_per_m2'] = data['price_per_m2'].str.replace('€/m²', '').str.strip()
data['price_per_m2'] = pd.to_numeric(data['price_per_m2'], errors='coerce')

In [15]:
data.price

0       750.0
1       595.0
2       670.0
3       450.0
4       550.0
        ...
2671    790.0
2672    459.0
2673    500.0
2674    419.0
2675    650.0
Name: price, Length: 2676, dtype: float64

In [16]:
# area -> float64 area with filtering
data['area'] = data['area'].str.replace('\xa0m²', '').str.strip()
data['area'] = pd.to_numeric(data['area'], errors='coerce')

In [17]:
# energy_mark to numeric, A is highest, H is lowest value
data.energy_mark = data.energy_mark.map({
    'Puudub': np.nan, '-': np.nan,
    'H':1, 'G':2, 'F':3, 'E':4, 'D':5, 'C':6, 'B':7, 'A':8
})

In [18]:
# arbitrary condition mapping to 5 numeric categories
data['condition'] = data['condition'].map({
    'Uus': 5, 'Uusarendus': 5,
    'Renoveeritud': 4,
    'Valmis': 3, 'Heas korras': 3,
    'San. remont tehtud': 2, 'Keskmine': 2,
    'Vajab san. remonti': 1, 'Vajab renoveerimist': 1
})

In [19]:
# get copy_not_allowed and broker_not_allowed from the footer
# used Copilot to simplify this
def map_description_footer(df):
    df['copy_not_allowed'] = df['description_footer'].apply(lambda x: 'Ei luba enda kuulutust kopeerida' in x)
    df['no_broker_allowed'] = df['description_footer'].apply(lambda x: 'Maakleritel palun mitte tülitada' in x)
    return df

data = map_description_footer(data)

In [20]:
# from images_link, we can get the number of pictures attached to the post. that seems like a worthwhile data point to have
# we can use a regex function for that. used Copilot to check the correct regex function in python
def extract_images_attached(df):
    df['images_attached'] = df['images_link'].str.extract(r'\((\d+)\)')
    df['images_attached'] = pd.to_numeric(df['images_attached'], errors='coerce')
    return df

data = extract_images_attached(data)

In [21]:
# extract whether poster is the owner depending on the owner-broker banner
data['is_owner'] = data['owner_or_broker'].str.contains('Omanik')

In [22]:
# convert prepayment to numeric
data['prepayment'] = pd.to_numeric(data['prepayment'].str.replace('€', '').str.strip(), errors='coerce')

In [23]:
# let's have all the column dropping in the last cell.
data = data.drop(['images_link', 'description_footer', 'floor_out_of_floors', 'owner_or_broker'], axis=1)

## Removing some extreme outliers

In [25]:
# two rows have 29 rooms listed.
# those are actually "shared housing" listing & no rooms cost 200 - the cheapest is 350. Let's drop those rows.
data = data.drop(data[data.rooms == 29].index)

In [26]:
#data[data.rooms.isna()] # 9 rows, let's leave those in for "comparison with no room nr"
#data[data.rooms == 8] # 2 rows, seem correct
#data[data.rooms == 6] # 5 rows
#data[data.rooms == 5] # 22 rows, that's good enough

In [27]:
# row with index 2145 has price 1€ and area as 1 m2. Not going to bother finding out what's happening.
data = data.drop(2145)

In [28]:
# since price is the feature we're trying to predict and area is a good indication of price,
# let's drop all rows where price or area is NaN
#data = data.drop(data[data.rooms == 29].index)
data = data.drop(data[(data['price'].isna()) | (data['area'].isna())].index)

In [29]:
# one of the objects has a build year above 20000, that's actually supposed to be 2022
data.loc[1877, 'build_year'] = 2022

In [30]:
# 3 rows have a price above 15000. those are either sale listings or bad typos, not worth figuring out.
data = data.drop(data[data.price > 15000].index)

In [31]:
# 1 post is a "combo posting" of 5 apartments where area is only 1 apt, but price is 5 apt. Not going to figure all the details out
data = data.drop(data[data.price_per_m2 > 60].index)

In [32]:
# manually verified that the 3 is_owner banners that are NaN are truly posted by the owner 2449 2479 2572
# replace is_owner NaN with True
# data[data.is_owner.isna() == True]
data.loc[[2449, 2479, 2572], 'is_owner'] = True

In [33]:
data.is_owner = data.is_owner.astype(bool)

In [34]:
# one listing is actually for a storage room
data = data.drop(data[data.area == 3].index)

## Extract summer and winter utility costs from utility_costs

In [36]:
data.utility_costs.unique()[390:]

array(['30 € / -', '86 € / 162 €', '70 € / 200 €', '75 € / 140 €',
       '45 € / 85 €', '81 € / 138 €', '88 € / -', '220 € / 250 €',
       '80 € / 280 €'], dtype=object)

In [37]:
# replace € with '', strip()
data['utility_costs'] = data['utility_costs'].str.replace('€', '')
# split from /
data[['utility_summer', 'utility_winter']] = data['utility_costs'].str.split('/', n=1, expand=True)
# to_numeric
data['utility_summer'] = pd.to_numeric(data['utility_summer'], errors='coerce')
data['utility_winter'] = pd.to_numeric(data['utility_winter'], errors='coerce')
# drop utility_costs
data = data.drop(['utility_costs'], axis=1)

In [38]:
# if one exists and other doesn't, copy value from one to the other.
# this is not a perfect solution, but still gives us about 30 extra rows to work with.
data.loc[(data['utility_summer'].isna()) & (data['utility_winter'].notna()), 'utility_summer'] = data['utility_winter']
data.loc[(data['utility_winter'].isna()) & (data['utility_summer'].notna()), 'utility_winter'] = data['utility_summer']

In [39]:
# 2 posts are badly formatted and very difficult to parse
data = data.drop([510, 1693])

In [40]:
# 1 post (2133) had an utility bill of over 100 000€ summer/winter. let's replace that with NaN
# 2 posts have utility bills equal to the rent, while saying that utility bills are fixed
data.loc[2133, 'utility_summer'] = np.nan
data.loc[2133, 'utility_winter'] = np.nan

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2655 entries, 0 to 2675
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   listing_link        2655 non-null   object
 1   listing_link_href   2655 non-null   object
 2   price               2655 non-null   float64
 3   rooms               2646 non-null   float64
 4   area                2655 non-null   float64
 5   build_year          2066 non-null   float64
 6   condition           2435 non-null   float64
 7   energy_mark         1207 non-null   float64
 8   summary             2654 non-null   object
 9   description         2612 non-null   object
 10  bedrooms            1836 non-null   float64
 11  description_header  2266 non-null   object
 12  prepayment          560 non-null    float64
 13  images_link_href    2653 non-null   object
 14  floor               2475 non-null   float64
 15  total_floors        2475 non-null   float64
 16  price_per_m2        2655 non-null   float64
 17  copy_not_allowed    2655 non-null   bool
 18  no_broker_allowed   2655 non-null   bool
 19  images_attached     2653 non-null   float64
 20  is_owner            2655 non-null   bool
 21  utility_summer      855 non-null    float64
 22  utility_winter      855 non-null    float64
dtypes: bool(3), float64(14), object(6)
memory usage: 507.9+ KB

## Extracting address fields from listing_link

In [43]:
data['listing_link'].str.split(',').apply(lambda x: len(x)).unique() # address separated by ',' returns len 4, 5, 3, 6, 8, 7

array([4, 5, 3, 6, 7], dtype=int64)

In [44]:
data[data['listing_link'].str.split(',').apply(lambda x: len(x) == 5)].listing_link

2            Tartumaa, Tartu, Tartu linn, Kesklinn, Oru 2
3       Pärnumaa, Pärnu, Pärnu linn, Rannarajoon, Papl...
8           Tartumaa, Tartu, Tartu linn, Karlova, Turu 29
10       Harjumaa, Tallinn, Kristiine, Kristiine, Kotka 1
13         Tartumaa, Tartu, Tartu linn, Kesklinn, Riia 26
                              ...
2665    Tartumaa, Tartu, Tartu linn, Kesklinn, Väike-T...
2668    Tartumaa, Tartu, Tartu linn, Kesklinn, Vanemui...
2670    Tartumaa, Tartu, Tartu linn, Tammelinn, Soinas...
2673    Harjumaa, Tallinn, Kesklinn, Juhkentali, Liiva...
2675    Harjumaa, Rae vald, Rae, Rae küla, Dolomiidi t...
Name: listing_link, Length: 880, dtype: object

In [45]:
# COUNTY, MUNICIPALITY?, CITY, (DISTRICT)*, STREET_ADDRESS
# I think we will try to go with the first two fields for county and municipality or city, then take the last field for a street address
def extract_address_components(address):
    parts = address.split(',')
    county = parts[0].strip()
    # replacing "vald" (abbr. for municipality) reduces complexity and unique variables while resulting a small data loss that the street address often solves
    mun_or_city = parts[1].replace(' vald', '').strip()
    # replacing "tn" (abbreviation for street) makes it more suitable for different APIs, for example, OpenStreetMap, if we decide to use that
    street_adr = parts[-1].replace(' tn', '').strip()
    return county, mun_or_city, street_adr

data[['county', 'mun_or_city', 'street_adr']] = data['listing_link'].apply(lambda x: pd.Series(extract_address_components(x)))
data = data.drop(['listing_link'], axis=1)

In [46]:
data.street_adr.unique()[:100]

array(['Voorimehe 1', 'Kivi 25', 'Oru 2', 'Papli 20', 'Pikaliiva 5',
       'Väike-Patarei 1/3', 'Pebre 3', 'Õismäe tee 175', 'Turu 29',
       'Mahla 67', 'Kotka 1', 'Aasa 5', 'Mere pst 4', 'Riia 26',
       'Keskuse 12', 'Pärnu mnt 32', 'Ravila 48', 'Kesk 11', 'Koidula 26',
       'Suur-Lossi 16', 'Tõnismägi 11a', 'Pikk 40', 'Pikk 33',
       'Koidu 62--', 'Hane 4-7', 'Valli 4', 'Meierei 30', 'Randla 13',
       'Raua 34', 'Asunduse 9', 'Ahtme mnt 57', 'Kuklase 3', 'Raadiku 14',
       'Pilve 4-16', 'Aiandi 5/3', 'J. Sütiste tee 39', 'Ümera',
       'Sõmera 4a', 'Mäealuse 9', 'Riia 9', 'Tamme 24', 'Dunkri 2',
       'Vanemuise', 'Pallasti 33', 'Talli 2', 'Pargi 1', 'Rüütli 22',
       'A. Puškini 51', 'Puiestee', 'Kangelaste prospekt 10a',
       'F. R. Faehlmanni 8', 'F. R. Faehlmanni 6', 'Kalda tee 14',
       'Kungla 18', 'J. V. Jannseni 4', 'Pille 7/4', 'Uus 13c',
       'Hariduse 12', 'Tildri 7', 'Pikk 5', 'Partisani 9', 'Pärnu mnt 33',
       'Lutsu 14', 'Kooli 6a', 'Vallikraavi 10', 'Merivälja tee 70',
       'Pilve 4-13', 'Kopli tee 28', 'Puiestee 112a', 'Vana Kalamaja 10',
       'Põhja allee 11-31', 'Varbola keskus 77', 'Volta 34',
       'J. Sütiste tee 26', 'Aiandi 11/1-29b', 'Tiigi 6', 'Sõjakooli 14',
       'Uus-Kalamaja 7/1', 'Väike-Kaar 43', 'KALDA tee', 'Kesk 22',
       'Laine 8', 'Saturni 14', 'Erika 7', 'Lai 35', 'Allveelaeva 4',
       'Liivamäe 6', 'J. Kuperjanovi 8', 'Vabriku 13', 'Karja 3',
       'Puhangu 8', 'Pikk 22-4', 'Aasa 12', 'Laki 24', 'Kanali 8F',
       'Pepleri 23', 'Kreutzwaldi 13', 'Järve 33', 'Kivi 9', 'Küüni 4'],
      dtype=object)

## Extracting info from summary

In [48]:
#maja tüübid
data['house_type'] = data['summary'].str.extract(r'(?i)(Kivimaja|Paneelmaja|Puitmaja|Maja)', expand=False)

# View rows again
data['house_type'] = data['house_type'].str.capitalize()
print(data[['house_type']].iloc[50:101])

     house_type
50     Kivimaja
52     Kivimaja
53   Paneelmaja
54     Puitmaja
55     Kivimaja
56     Kivimaja
57          NaN
58          NaN
59     Kivimaja
60          NaN
61          NaN
62     Kivimaja
63     Kivimaja
64         Maja
65     Kivimaja
66     Kivimaja
67     Kivimaja
68     Kivimaja
69   Paneelmaja
70   Paneelmaja
71          NaN
72   Paneelmaja
73     Puitmaja
74          NaN
75          NaN
76     Kivimaja
77          NaN
78     Puitmaja
80     Kivimaja
81          NaN
82     Kivimaja
83     Kivimaja
84     Puitmaja
85     Kivimaja
86          NaN
87          NaN
88          NaN
89     Kivimaja
90          NaN
91     Kivimaja
92     Kivimaja
93   Paneelmaja
94     Kivimaja
95     Kivimaja
96   Paneelmaja
97          NaN
98     Kivimaja
99     Kivimaja
100         NaN
101    Kivimaja
102    Kivimaja

In [49]:
# TODO
print(data['summary'].iloc[9])

Korteriomand

Köök: keraamiline pliit, avatud köök, külmik
Sanruum: dušš, pesumasin
Lisainfo: köök, mööbel, tsentraalne vesi, ühistransport, parkett, garderoob, seinakapp
Side ja turvalisus: trepikoda lukus

In [50]:
#which types of heating are there
#is it okay that some have more than 1??
data['heating'] = data['summary'].str.extract(r'Küte ja ventilatsioon:\s*(.*?)(?:\r\n|\r|\n|$)', expand=False).str.strip()

print(data['heating'].head(10))

0                                     elektriküte
1                                        keskküte
2                                 keskküte, kamin
3    Õhk-vesisoojuspump, põrandaküte, elektriküte
4                                             NaN
5                                        keskküte
6                         õhksoojuspump, ahjuküte
7                                        keskküte
8                                        keskküte
9                                             NaN
Name: heating, dtype: object

In [51]:
#kas mööbel tuleb kaasa korteriga või ei? BOOLEAN
data['furnished'] = data['summary'].str.contains(r'\bmööbel\b|\bmööbli võimalus\b', case=False, regex=True)

# Check the results
print(data['furnished'].head(19))

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8     False
9      True
10     True
11    False
12     True
13     True
14     True
15     True
16     True
17    False
18     True
Name: furnished, dtype: object

In [52]:
#kas pesumasin on ka korteris?
data['washing_machine'] = data['summary'].str.contains(r'\bpesumasin\b', case=False, regex=True)
print(data['washing_machine'].head(19))

0      True
1      True
2      True
3      True
4     False
5      True
6      True
7      True
8     False
9      True
10     True
11    False
12     True
13     True
14     True
15     True
16     True
17    False
18     True
Name: washing_machine, dtype: object

In [53]:
#kas on rõdu?
data['balcony'] = data['summary'].str.contains(r'\brõdu\b', case=False, regex=True)
print(data['balcony'].head(19))

0     False
1      True
2      True
3     False
4     False
5      True
6     False
7      True
8     False
9     False
10    False
11     True
12     True
13    False
14     True
15    False
16    False
17     True
18    False
Name: balcony, dtype: object

In [54]:
# TODO
#kas on hoopis hoov??? boolean väärtus
data['yard'] = data['summary'].str.contains(r'\bhoov\b', case=False, regex=True)
print(data['yard'].head(19))

0     False
1     False
2      True
3      True
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18     True
Name: yard, dtype: object

In [55]:
# TODO
#kas on hoopis terass??? boolean väärtus
data['terrace'] = data['summary'].str.contains(r'\bterrass\b', case=False, regex=True)
print(data['terrace'].head(19))

0     False
1     False
2     False
3      True
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
Name: terrace, dtype: object

In [56]:
#kas parkida saab tasuta?
data['parking'] = data['summary'].str.contains(r'\bparkimine tasuta\b', case=False, regex=True)
print(data['parking'].head(19))

0     False
1      True
2      True
3      True
4      True
5     False
6      True
7     False
8     False
9     False
10     True
11     True
12     True
13     True
14     True
15    False
16    False
17     True
18     True
Name: parking, dtype: object

In [57]:
#kas on internet, turvauks, videovalve? boolean väärtused kõik
data['has_internet'] = data['summary'].str.contains(r'\bInternet\b', case=False, regex=True)
data['has_security_door'] = data['summary'].str.contains(r'\bTurvauks\b', case=False, regex=True)
data['has_video_surveillance'] = data['summary'].str.contains(r'\bVideovalve\b', case=False, regex=True)

print(data[['has_internet', 'has_security_door', 'has_video_surveillance']].head(10))

  has_internet has_security_door has_video_surveillance
0         True              True                  False
1         True              True                  False
2         True              True                  False
3         True             False                  False
4        False             False                  False
5        False             False                  False
6         True              True                  False
7         True              True                   True
8        False             False                  False
9        False             False                  False

In [58]:
#kas summarys on toodud kas seal on ka panipaik? boolean väärtus

data['has_storage'] = data['summary'].str.contains(r'\bPanipaik\b', case=False, regex=True)
print(data['has_storage'])

0       False
1       False
2        True
3       False
4        True
        ...
2671     True
2672     True
2673    False
2674     True
2675     True
Name: has_storage, Length: 2655, dtype: object

In [59]:
data['summary'].iloc[9]

'Korteriomand\n\nKöök: keraamiline pliit, avatud köök, külmik \nSanruum: dušš, pesumasin \nLisainfo: köök, mööbel, tsentraalne vesi, ühistransport, parkett, garderoob, seinakapp \nSide ja turvalisus: trepikoda lukus'

## Extracting info from description

In [61]:
data['description'].iloc[10]

'KORTER\nRendile anda stiilne värskelt renoveeritud ja täielikult möbleeritud 1-toaline korter Kristiines, Kotka 1 majas, korter paikneb maja neljandal korrusel. \n\nKorteri koosseisu kuulub esik, elutuba avatud köögiga, vannituba koos tualetiga. \n\nKorter renditakse piltidel oleva sisustusega - köögimööbel koos tehnikaga (külmkapp, keraamiline elektripliit, kubu, ahi, pesumasin), garderoobikapp esikus, diivan-voodi, diivanilaud. Korter on disainitud ilusates heledates, maitsekates toonides, Skandinaavia stiilis. Vannituba plaaditud ja paigaldatud elektripõrandaküte.\n\nKorter on põhjalikult renoveeritud ja uuevääriline.\n\nKÕRVALKULUD\nKommunaalkulud väga soodsad, suvel 40 eur, talvel külmadel kuudel 80 eur, vannitoas põrandaküte.\n\nÜMBRUS\nMaja vahetus läheduses on Kristiine Kaubanduskeskus, kus olemas kõik eluks vajalik, Prisma toidupood, kohvikud ja erinevad söögikohad. Läheduses on Tondi Selver, Rimi kauplus. Ühistranspordipeatus maja lähedal, mis annab kiire ühenduse Kesklinnaga ja teiste linnaosadega.\n\nLISAINFO\nLepingu sõlmimisel tuleb tasuda ühe kuu üür, tagatisraha ja lepingutasu.'

In [62]:

data.columns

Index(['listing_link_href', 'price', 'rooms', 'area', 'build_year',
       'condition', 'energy_mark', 'summary', 'description', 'bedrooms',
       'description_header', 'prepayment', 'images_link_href', 'floor',
       'total_floors', 'price_per_m2', 'copy_not_allowed', 'no_broker_allowed',
       'images_attached', 'is_owner', 'utility_summer', 'utility_winter',
       'county', 'mun_or_city', 'street_adr', 'house_type', 'heating',
       'furnished', 'washing_machine', 'balcony', 'yard', 'terrace', 'parking',
       'has_internet', 'has_security_door', 'has_video_surveillance',
       'has_storage'],
      dtype='object')

In [63]:
#üüri lepingu sõlmimisel, kas on kirjas et tuleb tasuda 1 kuu üür
data['has_first_rent'] = data['description'].str.contains(
    r'(?:esimene (sissemakse|üür)|1\.?\s?kuu üür|üürisumma|esimese kuu üür|esimese kuus üür|ühe kuu üür(?: ette)?|üürilepingu sõlmimisel.*?(1\.?\s?kuu üür|esimese kuu üür)üür\b)', 
    case=False, 
    regex=True
)

print(data['has_first_rent'].head(40))

0     False
1      True
2     False
3      True
4     False
5      True
6      True
7     False
8      True
9      True
10     True
11     True
12    False
13     True
14     True
15    False
16     True
17    False
18     True
19     True
20     True
21     True
22     True
23    False
24     True
25     True
26    False
27    False
28    False
29     True
30     True
31    False
32    False
33    False
34     True
35     True
36     True
37    False
38    False
39     True
Name: has_first_rent, dtype: object

C:\Users\markovca\AppData\Local\Temp\ipykernel_7088\3496690960.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  data['has_first_rent'] = data['description'].str.contains(

In [64]:
#kas on vaja tasuda tagatisraha/deposiit/tagatis lepingu sõlmimisel
data['has_deposit'] = data['description'].str.contains(
    r'(tagatisraha|deposiit|tagatis)', 
    case=False, 
    regex=True
)

C:\Users\markovca\AppData\Local\Temp\ipykernel_7088\2375124096.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  data['has_deposit'] = data['description'].str.contains(

In [65]:
#kas on vaja tasuda vahendustasu /maakleritasu?
data['has_commission'] = data['description'].str.contains(
    r'(maakleritasu|vahendustasu|maaklertasu)',  # Otsi sõnu "maakleritasu" või "vahendustasu"
    case=False, 
    regex=True
)

C:\Users\markovca\AppData\Local\Temp\ipykernel_7088\1461750193.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  data['has_commission'] = data['description'].str.contains(

In [66]:
#kas üürilepingu sõlmimisel on vaja tasuda lepingutasu
data['has_contract_fee'] = data['description'].str.contains(
    r'\blepingutasu\b',  # Otsib täpselt sõna "lepingutasu"
    case=False, 
    regex=True
)

In [67]:
pd.options.display.max_columns = None
display(data)

,listing_link_href,price,rooms,area,build_year,condition,energy_mark,summary,description,bedrooms,description_header,prepayment,images_link_href,floor,total_floors,price_per_m2,copy_not_allowed,no_broker_allowed,images_attached,is_owner,utility_summer,utility_winter,county,mun_or_city,street_adr,house_type,heating,furnished,washing_machine,balcony,yard,terrace,parking,has_internet,has_security_door,has_video_surveillance,has_storage,has_first_rent,has_deposit,has_commission,has_contract_fee
0,https://www.kv.ee/uurile-anda-2toaline-korter-...,750.0,2.0,42.1,1807.0,4.0,NaN,"Kivimaja\n\nKöök: elektripliit, avatud köök, k...",Üürile anda 2-toaline korter Raekoja platsil.\...,NaN,STUUDIOKORTER RAEKOJA PLATSIL!,NaN,https://www.kv.ee/object/images/3475992,1.0,3.0,17.80,False,False,29.0,False,NaN,NaN,Harjumaa,Tallinn,Voorimehe 1,Kivimaja,elektriküte,True,True,False,False,False,False,True,True,False,False,False,False,False,False
1,https://www.kv.ee/mobleeritud-paikeseline-3toa...,595.0,3.0,58.7,2005.0,3.0,NaN,"Korteriomand, kivimaja\n\nKöök: keraamiline pl...",Möbleeritud päikeseline 3-toaline rõduga korte...,2.0,"Möbleeritud rõduga korter, parkimiskoht.",NaN,https://www.kv.ee/object/images/3696581,3.0,5.0,10.10,False,False,14.0,False,NaN,NaN,Tartumaa,Tartu,Kivi 25,Kivimaja,keskküte,True,True,True,False,False,True,True,True,False,False,True,True,True,False
2,https://www.kv.ee/uurile-anda-kesklinnas-asuv-...,670.0,2.0,72.0,NaN,4.0,NaN,"Korteriomand, kivimaja\n\nKöök: gaasipliit, av...","Üürile anda kesklinnas asuv 2- toaline, 72m² s...",1.0,NaN,NaN,https://www.kv.ee/object/images/1543892,4.0,4.0,9.31,False,False,19.0,False,NaN,NaN,Tartumaa,Tartu,Oru 2,Kivimaja,"keskküte, kamin",True,True,True,True,False,True,True,True,False,True,False,False,False,False
3,https://www.kv.ee/uus-hind-uurile-anda-kohesel...,450.0,2.0,48.0,2003.0,3.0,NaN,"Korteriomand, kivimaja\n\nKöök: keraamiline pl...",UUS HIND!\n Üürile anda koheselt kahetoaline t...,1.0,Pikaajalise üürile terrassiga korter rannarajo...,NaN,https://www.kv.ee/object/images/3691815,1.0,2.0,9.38,False,False,14.0,False,NaN,NaN,Pärnumaa,Pärnu,Papli 20,Kivimaja,"Õhk-vesisoojuspump, põrandaküte, elektriküte",True,True,False,True,True,True,True,False,False,False,True,True,True,False
4,https://www.kv.ee/korter-vabaneb-alates-01-11-...,550.0,1.0,24.0,2023.0,5.0,7.0,"Korteriomand, kivimaja\n\nLisainfo: parkimine ...",Korter vabaneb alates 01.11.2024\n\nÜürile and...,1.0,"Super Pakkumine! Parkimiskoht, panipaik hinnas!",550.0,https://www.kv.ee/object/images/3637834,3.0,4.0,22.90,False,False,38.0,False,NaN,NaN,Harjumaa,Tallinn,Pikaliiva 5,Kivimaja,NaN,True,False,False,False,False,True,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2671,https://www.kv.ee/sind-ootab-maitsekalt-sisust...,790.0,2.0,45.8,2022.0,5.0,7.0,"Korteriomand, kivimaja\n\nSanruum: dušš, pesum...",Sind ootab maitsekalt sisustatud mugava planee...,1.0,UUS HIND! TULE KLIENDIPÄEVALE 19.11.2024!,NaN,https://www.kv.ee/object/images/3697843,2.0,4.0,17.30,False,False,43.0,False,NaN,NaN,Harjumaa,Tallinn,Pagi 5,Kivimaja,"põrandaküte, keskküte",True,True,True,False,False,False,False,True,False,True,True,True,True,False
2672,https://www.kv.ee/suur-tanu-huvi-tundmast-maju...,459.0,1.0,21.0,2019.0,5.0,NaN,"Kivimaja\n\nKöök: elektripliit, avatud köök, k...",Suur tänu huvi tundmast majutusvõimaluse vastu...,NaN,Lepingutasu al 149€ |Tasuta WiFi|Depovaba võim...,NaN,https://www.kv.ee/object/images/3390755,6.0,8.0,21.90,False,False,19.0,False,NaN,NaN,Harjumaa,Tallinn,Liimi 1b,Kivimaja,keskküte,True,True,False,False,False,False,True,True,True,True,False,True,False,False
2673,https://www.kv.ee/uurnikke-asub-otsima-keskmis...,500.0,1.0,32.9,1994.0,5.0,4.0,"Korteriomand, paneelmaja\n\nKöök: elektripliit...",Üürnikke asub otsima keskmisest suurem 1-toali...,1.0,"UUS REMONT, UUS MÖÖBEL! OLE 1. ELANIK!",500.0,https://www.kv.ee/object/images/3702170,7.0,9.0,15.20,False,False,19.0,False,50.0,90.0,Harjumaa,Tallinn,Liivamäe 2,Paneelmaja,keskküte,True,True,True,False,False,True,True,True,True,False,False,True,True,False
2674,https://www.kv.ee/suur-tanu-huvi-tundmast-maju...,419.0,1.0,16.0,2019.0,5.0,NaN,"Kivimaja\n\nKöök: elektripliit, avatud köök, k...",Suur tänu huvi tundmast majutusvõimaluse vastu...,NaN,Lepingutasu al 149€ |Tasuta WiFi|Depovaba võim...,NaN,https://www.kv.ee/object/images/3155320,4.0,8.0,26.20,False,False,15.0,False,NaN,NaN,Harjumaa,Tallinn,Liimi 1b,Kivimaja,keskküte,True,True,False,False,False,False,True,True,True,True,False,True,False,False
2675,https://www.kv.ee/korter-on-osaliselt-mobleeri...,650.0,2.0,40.0,2023.0,5.0,8.0,"Korteriomand, kivimaja\n\nLisainfo: rõdu 17.2 ...",Korter on osaliselt möbleeritud. Paigaldatud o...,1.0,A-energiaklassi kodu! Sisustus hinnas!,NaN,https://www.kv.ee/object/images/3701204,1.0,3.0,16.30,False,False,13.0,False,NaN,NaN,Harjumaa,Rae,Dolomiidi tee 2/3-18,Kivimaja,NaN,True,False,True,False,True,True,False,False,False,True,False,True,False,False

## Extract info from description header - is it in all caps (bool)? Count !? and something like that maybe?

In [76]:
# TODO
#is the header all in caps or not
#ajutiselt kommenteerin välja, nagunii vist võtame lõplikuks modelleerimiseks selle välja ka
data['description_header_is_all_caps'] = data['description_header'].str.isupper()
data['description_header_is_all_caps'] = data['description_header_is_all_caps'].fillna(False).astype(bool)

print(data['description_header_is_all_caps'])

0        True
1       False
2       False
3       False
4       False
        ...
2671     True
2672    False
2673     True
2674    False
2675    False
Name: description_header_is_all_caps, Length: 2655, dtype: bool

C:\Users\markovca\AppData\Local\Temp\ipykernel_7088\2525920259.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['description_header_is_all_caps'] = data['description_header_is_all_caps'].fillna(False).astype(bool)

In [ ]:
#sama ajutine kommenteerimine, mis eelmises
#äkki ka pikkus näitab midagi, et kui pikk või lühike header on loendades charactere: 
data['description_header_length'] = data['description_header'].str.len()
data['description_header_length'] = data['header_length'].fillna(0)

print(data['description_header_length'])

In [ ]:
print(data['description_header'])

## Removing all rows, which aren't needed for the final modeling

In [ ]:
#just in case teen teise df-i kui peaks vaja minema eelmist veel
#Removes all listings, where the location isn't either Tallinn or Tartu
model_data = data.copy()

model_data = model_data[model_data['mun_or_city'].isin(['Tallinn', 'Tartu'])]
#Removes unneccessary columns for modelling
model_data = model_data.drop(columns=['listing_link_href', 'price_per_m2', 'summary', 'description', 'description_header', 'images_link_href'])
#Removes rows where price is under 100, idicating listings which advertise the daily cost
model_data = model_data[model_data['price'] >= 100]

#Export to CSV file
model_data.to_csv('cleaned_data.csv', index=False)

## Determine whether to try to analyse pictures from images_link_href and assign a rating to those

In [ ]:
# TODO
data

## Remove links (listing_link_href, images_link_href) before fitting

In [ ]:
# TODO